{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      },
      "useBuiltIns": "usage" // 只加载使用的polyfill的内容
    }],
    "@babel/react"
  ],
  "plugins": ["@babel/plugin-transform-runtime", "@babel/plugin-syntax-dynamic-import", ["import", {
    "libraryName": "antd",
    "libraryDirectory": "es",
    "style": true // `style: true` 会加载 less 文件
  }]],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}